/*Otro bloque*/
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
}

.nav__logo {
  position: relative;
  left: 30px;
  top: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  top: 30px;
  right: 80px;
  list-style-type: none;
  margin-bottom: 183px;
}

.nav__link {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
