.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Noto Serif", Times New Roman, serif;
  position: relative;
  height: 100vh;
  max-height: 800px;
  min-height: 700px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
}

.nav__logo {
  position: relative;
  left: 30px;
  top: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  top: 30px;
  right: 80px;
  list-style-type: none;
  margin-bottom: 183px;
}

.nav__link {
  list-style-type: none;
  text-decoration: none;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 58px;
  line-height: 72px;
  max-width: 709px;
  padding-left: 80px;
  top: 183px;
  margin: 0;
}

.header__span-accent {
  display: flex;
  font-family: "Noto Serif", Times New Roman, sans-serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #2f80ed;
}

.header__description {
  left: 80px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  margin: 0;
  margin-top: 28px;
}

.header__image {
  position: absolute;
  right: 5px;
  display: flex;
  flex-direction: column;
  height: 568px;
  width: 646px;
  margin-right: 5px;
  margin-top: 124px;
}

.header__footer {
  margin-top: auto;
  color: #6f6f6f;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  padding-bottom: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 24px;
  margin: 0;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-left: 80px;
  max-width: 438px;
  padding-bottom: 80px;
  margin: 0;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  width: 480px;
  height: 273px;
  column-gap: 40px;
  padding-bottom: 24px;
  margin: auto;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 215px;
  font-size: 20px;
  line-height: 30px;
}
